@{
    ViewData["Title"] = "Create";
}
@model CreateCountryInput

<div class="container">
    <h3 class="text-center">Yeni Ülke</h3>
    <div class="row">
        <div class="col-md-6 offset-3">
            <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label>Ad</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-sm text-danger text-decoration-none"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Image" class="form-label">Görseli seçiniz</label>
                <input class="form-control" type="file" id="formFile" asp-for="Image">
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>

        </form>
        <a asp-action="Index">Listeye geri dön.</a>
    </div>
    <div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}