@{
    ViewData["Title"] = "Detail";
}
@model GetCountryResponse

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">

                <div class="card-body">
                    <h3>@Model.Name</h3>
                </div>
                <div class="card-footer">
                    <a asp-action="Update" asp-route-id="@Model.Id"  class="btn btn-warning" >Güncelle</a>
                    <form method="post">
                         <button asp-action="Delete" asp-route-id="@Model.Id" type="submit" class="btn btn-outline-danger"> Sil</button>
                    </form>
                </div>
            </div>

           <a asp-action="Index">Listeye geri dön.</a>
        </div>
    </div>
</div>