.vs/Joinlife/DesignTimeBuild/.dtbcache.v2
.vs/Joinlife/v17/.futdcache.v2
.vs/Joinlife/v17/.suo
.vs/Joinlife/v17/DocumentLayout.json
.vs/ProjectEvaluation/joinlife.metadata.v7.bin
.vs/ProjectEvaluation/joinlife.projects.v7.bin
/.vs
