@{
    ViewData["Title"] = "Index";
}
@model List<GetCityResponse>

<div class="row">
    <div class="my-1">
        <a asp-action="Create" class="btn btn-primary">Ekle</a>
    </div>
    @if (!Model.Any())
    {
        <div class="jumbotron text-center">No cities found.</div>
    }
    else
    {
        @foreach (var city in Model)
        {

            <div class="col-md-3 mt-2 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="@city.ImageUrl" class="card-img-top" style="max-height:128px;object-fit:cover; object-position:top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@city.Name şehri @city.Country.Name ülkesindedir.</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a asp-action="Detail" asp-route-id='@city.Id' class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
