@{
    ViewData["Title"] = "Update";
}
@model UpdateVenueInput


<div class="container">
    <h3 class="text-center">Mekanı güncelle</h3>
    <div class="row">
        <div class="col-md-6 offset-3">
            <form method="post" asp-action="Update" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group my-2">
                    <img src="@Model.ImageUrl" class="img-fluid" alt="Country Image" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Capacity"></label>
                    <input asp-for="Capacity" type="text" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <select asp-for="CityId" asp-items="ViewBag.Cities" class="form-control">
                        <option value="">Şehiri seçiniz</option>
                    </select>
                    <span asp-validation-for="CityId" class="danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Line"></label>
                    <textarea asp-for="Line" class="form-control">
                            </textarea>
                    <span asp-validation-for="Line" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label asp-for="Image" class="form-label">Görseli seçiniz</label>
                    <input class="form-control" type="file" id="formFile" value="@Model.ImageUrl" asp-for="Image">
                    <span>@Model.ImageUrl</span>
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>

            </form>
            <a asp-action="Index">Listeye geri dön.</a>
        </div>
        <div>
        </div>

        @section Scripts
        {
            <partial name="_ValidationScriptsPartial" />
        }